/*common styles */
body, input, textarea, button, select { font-size: 14px; }
.page-width { padding-left:0; padding-right: 0; }
.clear{ clear: both;}
body, input, textarea, button, select{ color: #490A60;}
header .site-header__cart { display: none;}
/*HEADER*/
header.site-header{ padding: 0 !important;}
header .grid--table{ width: 99%;}
header .h2.site-header__logo { padding-left: 20px;}
/* faq */
.s4com-section-body ul { padding-left: 0 !important;}
.s4com-section-body h3 span { color: #C49430; }
#how-do-i-take-care-of-my-piercing li { padding-left: 10px; list-style: disc; margin-left: 14px !important;}
.s4com-helpcenter h1, .s4com-panel, .s4com-sub-heading.s4com-border-bottom{ display: none;}
.s4com-articles { padding-left: 0 !important; }
.s4com-space-bottom.s4com-border-bottom { border: none;}
/* Home Booking/Cancellation section */
#shopify-section-1527123718739 { margin-top: 0; padding-top: 0;}
#shopify-section-1527123718739 h2 { color: #490A60; padding-bottom: 20px;}
/* Home About us section */
#shopify-section-1527123950217 .feature-row__item svg { display: none;}
#shopify-section-1527123950217 { background: url(https://cdn.shopify.com/s/files/1/0026/6928/1395/files/punktured-tattoo.png?4653660530285576932) no-repeat -20px 0px; padding-bottom: 207px;}
#shopify-section-1527123950217 .feature-row__text--left { width: 100% !important; margin-left: 25%; margin-top: 12%; padding-left: 0px;}
#shopify-section-1527123950217 h2 { font-size: 34px !important; color: #490A60;}
#shopify-section-1527055903169 { padding-bottom: 0 !important; color: #490A60; }
/* artist page */
.artist-page-main-content img {}
.artist-page-main-content li{ list-style: none;}
.artist-page-main-content h2 { color: #490A60; padding-top: 20px;  text-align: left; }
.artist-info{ width: 72%; float: left; text-align: justify;  padding: 2px 20px 27px 20px; margin: 0px 4% 0 0; color: #000 !important;}
.artist-info strong { margin-bottom: 13px; display: block;}
.slideshow.slideshow--large { height: 957px; }
.artist-left { float: left; margin-right: 10px;}
.artist-info strong { margin-bottom: 13px; display: block; color: #CA9B3C; font-size: 19px; text-align: left;}
.artist-info h2 { font-weight: 800; font-size: 29px;}
.faArrowIcon:before { font-family: FontAwesome; top:0; left:-5px; padding-right:10px; content: "\f0a9"; } 
.fa:hover { color: #CA9B3C !important;}
.template-page .grid__item.medium-up--five-sixths.medium-up--push-one-twelfth { width: 100% !important; padding: 0 !important;}
.artist-infor-right { float: left; width: 22%;}
.artist-infor-right strong { color: #490A60 !important; font-size: 26px; text-transform: uppercase; display: block; padding-top: 20px; padding-bottom: 29px;}
.artist-infor-right ul { margin-left: 0; margin-top: 28px;}
.artist-infor-right li { margin-right: 20px;}
.artist-infor-right li { float: left;}
.artist-infor-right li a{ border-bottom: none !important;}
.tattoo-artist-readmore{}
/* Tattoo Artist */
.tattoo-artist-page h2 { font-size: 49px; text-align: center;}
.tattoo-artist-page span { font-size: 23px; text-align: center; display: block;margin-bottom: 20px;}
.tattoo-artist-readmore { display: block; border: none !important; background: #410156; color: #fff; padding: 10px 10px !important; text-align: center; font-size: 20px;}
.tattoo-dsrtist-information h2::after { background: #C4942F; height: 4px; width: 53px; content: ""; position: absolute; bottom: -13px; left: 165px;}
.tattoo-dsrtist-information h2 {  text-align: center; color: #410156; position: relative; margin-bottom: 41px;}
.tattoo-dsrtist-information { width: 406px; margin-left: 10%; float:left; margin-top: 50px;}
.tattoo-artist-page h2 { color: #410156;}
.tattoo-dsrtist-information.heading_small h2::after { left: 174px !important;}
.punktured-video-content { float: left; width: 40%; padding: 100px 0 50px 20px;}
.punktured-video img { float: left;}
.punktured-video { background: rgba(196, 148, 47,0.3);}
.punktured-video-content { float: left; width: 62%; padding: 150px 0 50px 20px;}
.punktured-image-list li {float: left; margin-top: 36px; list-style: none; margin-left: 0 !important; margin-right: 23px;}
.punktured-image-list { margin-left: 0 !important;}
/* Pricing & Procedures */
.pricing-procedures li span {text-align: center; display: block;}
.pricing-procedures li { float: left;list-style: none; text-align: center; display: block;width: 230px; margin: 0 auto;margin-bottom: 0px;}
.pricing-procedures span { color: #410156; font-weight: bold; font-size:18px;}
.pricing-procedures li { margin-bottom: 37px;}
.textaligncenter{ text-align: center;}
.pricing-procedures ul { margin-left: 0; }
.punktured-nipple { margin-right: 5% !important;}
.tattoo-after-care { background: rgba(196, 148, 47, 0.4); padding: 23px 20px; margin-bottom: 20px;}
.tattoo-after-care h2 { margin-bottom: 10px; }
.aftercare-tattoo-image { width: 30%; float: right; margin-left: 6%;}
/* Store Locations */
#store-list li.store ul li:nth-child(2) { display: none;}
.tranding-hours { margin-top: 12px; display: block; color: #000 !important; padding-bottom: 3px;}
#store-list .store ul li:nth-child(2) { display: none;}
/* Navigation */
.site-nav button, .site-nav a { font-size: 16px;}
#SiteNavLabel-tattoo-artists, #SiteNavLabel-faqs { background: rgba(65, 1, 86); z-index: 9999; }
.site-nav__dropdown li a { color: #fff;}
.adboutusright { float: left; width: 29%; padding-top: 20px; }
.adboutusleft { float: left; width: 61%; padding: 35px 15px 10px 3px;}
.aboutus-box-bottom h2 { margin-bottom: 16px; margin-top: 10px !important; text-align: left;}
.aboutus-box-section { text-align: justify; background:#8C6699; color: #fff !important;}
.aboutus-box-section p{ color: #fff !important;}
.aboutus-box-bottom { padding: 24px 37px 12px 29px; background: rgba(140, 102, 153,0.8); float: left; width: 67%; margin: 65px 0 0 -53px; min-height: 204px;}
.aboutus-box-section img { float: left; }
.aboutus-box-section2 .aboutus-box-bottom { background: rgba(200, 152, 57, 0.7); margin-left: 10px; margin-top: 24px !important; margin-right: -53px; z-index: 9999;}
.aboutus-box-section2 ul, .aboutus-box-section3 ul { margin-left: 0; width: 95%;}
.aboutus-box-section3 .aboutus-box-bottom { margin-top: 22px; padding: 6px 37px 0 29px;}
.aboutus-box-section.aboutus-box-section2, .aboutus-box-section.aboutus-box-section3{ margin-bottom: 30px;}
.aboutus-box-bottom h2{ position: relative;}
.aboutus-box-bottom h2::after { background: #fff; content: ""; height: 2px; width: 53px; color: #000; position: absolute; bottom: -6px; left: 1px;}
.contact-form.form-vertical input, .contact-form.form-vertical textarea { background: none !important; border: 1px solid #fff; color: #fff !important;}
.contact-form.form-vertical { background: rgba(73, 10, 96,0.4);  padding: 56px 97px;}
.contact-form.form-vertical label { color: #fff;}
.form-message--error { border: 1px solid #490A60; background-color: #490A60; color: #fff;}
/* footer */
.site-footer li a { color: #000;}
.site-footer__newsletter label { color: #490A60 !important; font-size: 18px; text-transform: uppercase;}
.site-footer__copyright--right .site-footer__copyright-content{ padding-left: 0!important;}
#Subscribe { background: #490A60;}
.site-footer__copyright.site-footer__copyright--right.medium-up--text-right{ text-align: left !important;}
/* media query */
@media screen and (max-width: 1940px){
#shopify-section-1527123950217{ background-size: 50%;}
.slideshow__slide .slideshow__image { background-size: 83% auto;}
.slideshow.slideshow--large { height: 750px;}
#shopify-section-1527123950217{ padding-bottom: 0;}
}
@media screen and (max-width: 1475px){
.site-nav button, .site-nav a { font-size: 14px;}
.slideshow.slideshow--large { height: 650px;}
}
@media screen and (max-width: 1326px){
nav { width: 100% !important;}
#shopify-section-1527123950217 .feature-row__text--left{ margin-top:0;}
}
@media screen and (max-width: 1286px){
.slideshow.slideshow--large { height: 501px;}
#shopify-section-1527123950217 .feature-row__text--left{ margin-left: 0; margin-top:0;}
.aboutus-box-bottom{ margin-left: 0; float: left; width: 57%;}
.aboutus-box-section p{ color: #000 !important;}
.aboutus-box-section{ background: none; color: #000 !important; margin-top: 10px;}
.aboutus-box-section img { float: left; display: block; text-align: center; margin: 0 auto;}
.tattoo-artist-page h2 { font-size: 20px;}
.tattoo-dsrtist-information{ margin: 0 auto; float: none;}
.template-page .grid__item.medium-up--five-sixths.medium-up--push-one-twelfth{ left:0;}
.tattoo-artist-page span{ font-size: 17px;}
}
@media screen and (max-width: 1200px){
.punktured-image-list li { width: 239px;}
}
@media screen and (max-width: 1199px){
.page-width{ width: 97%; padding: 0 10px;}
}
@media screen and (max-width: 1080px){
.punktured-video img { width: 200px;}
.punktured-video-content {width: 56%; padding: 50px 0 50px 20px;}
}
@media screen and (max-width: 990px){
footer .grid__item { width: 300px; padding-left: 15px !important;}
#shopify-section-1527123950217 .feature-row__text--left{ padding-top:0!important;}
header .site-header__icons-wrapper{ margin-right: 0 !important;}
}
@media screen and (max-width: 845px){
.slideshow.slideshow--large { height: 348px;}
#shopify-section-1527123950217 .page-width{ padding-top: 204px; text-align: center;}
#shopify-section-1527123950217 { background-size: 50%;background-position: top center;}
#shopify-section-1527123950217 h2{ margin-top: 21px;}
.site-footer__linklist li{ display: block;}
.aboutus-box-bottom { margin-left: 0;float: left; width: 53%;}

.aboutus-box-section { background: none; color: #000 !important; margin:0 auto; background: rgba(140, 102, 153,0.8); width: 300px;}
.aboutus-box-section img { float: none; width: 150px; display: block; text-align: center; margin: 0 auto; padding-top:10px;}
.aboutus-box-bottom { margin-left: 0; float: none; width: auto; margin-top: 0; display: block; background: none; }
.aboutus-box-section.aboutus-box-section2 { background: rgba(200, 152, 57, 0.7); padding: 10px 28px;}
.aboutus-box-section2 .aboutus-box-bottom{ background: none; margin-right: 0; margin-left: 0; padding: 0;}
.adboutusright { display: none;}
.adboutusleft { float: none; width: 96%; padding: 35px 10px 10px 10px; text-align: center;}
}
@media screen and (max-width: 749px){
.grid{ margin-left: 0;}
.tattoo-dsrtist-information h2::after{ background: none;}
}
@media screen and (max-width: 600px){
.punktured-image-list li{ margin: 0 auto !important; float: none;}
.slideshow.slideshow--large { height: 269px;}
footer .grid__item { width: 300px; padding-left: 15px !important; float: none; margin: 0 auto;}
#shopify-section-1527123950217 { background-size: 400px;}
}
@media screen and (max-width: 500px){
#shopify-section-1527123950217 { background-size: 400px;}
#shopify-section-1527123950217 .page-width { padding-top: 150px;}
.slideshow.slideshow--large { height: 150px;}
#shopify-section-1527123718739 h2 { font-size: 18px;}
.tattoo-dsrtist-information{ width: 280px; margin-bottom: 16px;}
footer .grid__item {width: 280px;}
.page-width{ width: 95%;}
.punktured-video img { width: 200px; float: none; margin: 0 auto; text-align: center; display: block; padding-top: 10px;}
.punktured-video-content{ width: auto; float: none;}
#contact_form .grid__item { padding-left: 0 !important;}
}